<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー画面</title>
    <link href="/css/commons.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>
<h1>ラウンド登録</h1>
<form th:action="@{__${score.id}__/delete}" method="post">
    <div class="caption">
        <label>コース：[[ ${course.name} ]]</label><br>
        <label>プレイ日:[[ ${score.playDate} ]]</label>
    </div>
    <div class="caption"><p>IN　<span class="error">[[ ${error} ]]</span></p></div>
    <table>
        <thead>
        <tr>
            <th th:each="hole:${holeNo1}" th:text="${hole}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Par</td>
            <td><span class="round" id="par_hole1">[[ ${course.parHole1} ]]</span></td>
            <td><span class="round" id="par_hole2">[[ ${course.parHole2} ]]</span></td>
            <td><span class="round" id="par_hole3">[[ ${course.parHole3} ]]</span></td>
            <td><span class="round" id="par_hole4">[[ ${course.parHole4} ]]</span></td>
            <td><span class="round" id="par_hole5">[[ ${course.parHole5} ]]</span></td>
            <td><span class="round" id="par_hole6">[[ ${course.parHole6} ]]</span></td>
            <td><span class="round" id="par_hole7">[[ ${course.parHole7} ]]</span></td>
            <td><span class="round" id="par_hole8">[[ ${course.parHole8} ]]</span></td>
            <td><span class="round" id="par_hole9">[[ ${course.parHole9} ]]</span></td>
            <td><span class="round" id="par_all1">36</span></td>
            <td><span class="round"></span></td>
        </tr>
        <tr>
            <td >スコア</td>
            <td th:each="in:${holeIn}" th:text="${in.score}" th:id="@{score__${in.bunker}__}"></td>
            <td><span id="scoreIn" th:field="*{scoreIn}"></span></td>
            <td></td>
        </tr>
        <tr>
            <td >パット</td>
            <td th:each="in:${holeIn}" th:text="${in.patts}" th:id="@{pat__${in.bunker}__}"></td>
            <td><span id="patIn" th:field="*{patIn}"></span></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="caption"><p>OUT</p></div>
    <table>
        <thead>
        <tr>
            <th th:each="hole:${holeNo2}" th:text="${hole}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Par</td>
            <td><span class="round" id="par_hole10">[[ ${course.parHole10} ]]</span></td>
            <td><span class="round" id="par_hole11">[[ ${course.parHole11} ]]</span></td>
            <td><span class="round" id="par_hole12">[[ ${course.parHole12} ]]</span></td>
            <td><span class="round" id="par_hole13">[[ ${course.parHole13} ]]</span></td>
            <td><span class="round" id="par_hole14">[[ ${course.parHole14} ]]</span></td>
            <td><span class="round" id="par_hole15">[[ ${course.parHole15} ]]</span></td>
            <td><span class="round" id="par_hole16">[[ ${course.parHole16} ]]</span></td>
            <td><span class="round" id="par_hole17">[[ ${course.parHole17} ]]</span></td>
            <td><span class="round" id="par_hole18">[[ ${course.parHole18} ]]</span></td>
            <td><span class="round" id="par_all2"></span>36</td>
            <td><span class="round" id="par_all"></span>72</td>
        </tr>
        <tr>
            <td >スコア</td>
            <td th:each="out:${holeOut}" th:text="${out.score}" th:id="@{score__${out.bunker}__}"></td>
            <td><span id="scoreOut" th:field="*{scoreOut}"></span></td>
            <td><span id="score" th:field="*{score}"></span></td>
        </tr>
        <tr>
            <td >パット</td>
            <td th:each="out:${holeOut}" th:text="${out.patts}" th:id="@{pat__${out.bunker}__}"></td>
            <td><span id="patOut" th:field="*{patOut}"></span></td>
            <td><span id="pat" th:field="*{pat}"></span></td>
        </tr>
        </tbody>
    </table>
    <div class="btns">
        <button type="button" onclick="openModal()" class="basic-btn">削除</button>
        <input type="button" th:onclick="@{location.href='__${score.id}__/update'}" value="編集" class="basic-btn">
        <input type="button" onclick="back()" value="戻る" class="cancel-btn">
    </div>
    <div id="modal">
        <p class="modal-message">削除しますか？</p>
        <div class="btns">
            <button type="submit" name="insert" id="register-btn" class="basic-btn">登録</button>
            <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
        </div>
    </div>
</form>
<div id="fadeLayer"></div>
<script src="/js/total.js"></script>
<script src="/js/commons.js"></script>
</body>
</html>