<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="/css/user.css" rel="stylesheet">
</head>
<body>

<div class="registration-container">
    <h2>ログイン</h2>
    <form id="registrationForm" action="" method="post" th:object="${loginForm}">
        <div class="form-group">
            <p class="error">[[ ${error} ]]</p>
            <input type="text" id="loginID" name="loginID" th:field="*{loginId}" placeholder="ID">
            <div class="error" th:each="error: ${#fields.errors('loginId')}">
                [[ ${error} ]]
            </div>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="パスワード">
            <div class="error" th:each="error: ${#fields.errors('password')}">
                [[ ${error} ]]
            </div>
        </div>
        <button class="login-btn" type="submit">ログイン</button>
        <hr id="borderLine">
    </form>
    <input type="button" th:onclick="location.href='/Golf_Manager/new-user'" value="新規登録" id="new-btn" class="new-user-btn">
</div>
</body>
</html>
