<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー画面</title>
    <link href="/css/commons.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>
<div id="menu">
    <div class="flex">
        <div class="main"><div class="child">98.2<br>平均スコア</div></div>
        <div class="main"><div class="child">95<br>ベストスコア</div></div>
        <div class="main"><div class="child">34<br>平均パット数</div></div>
    </div>
</div>
<div>
    <div class="caption"><p>直近5ラウンド</p></div>
    <table>
        <tbody>
        <tr th:each="product : ${rounds}" >
            <td th:text="${product.name}"></td>
            <td th:text="${product.playDate}"></td>
            <td th:text="${product.score}"></td>
            <td th:text="${product.patts}"></td>
            <td><a class="detail_btn" href="">詳細</a></td>
        </tr>
        </tbody>
    </table>
    <div class="center">
        <a class="basic-btn regist" href="/Golf_Manager/user/detail">ラウンド履歴</a>
        <a class="basic-btn regist" href="/Golf_Manager/user/insert">ラウンド登録</a>
    </div>
</div>
</body>
</html>