<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー画面</title>
    <link href="/css/commons.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>
<h1>ラウンド登録</h1>
<form th:action="@{__${course.id}__/check}" method="post" th:object="${RoundFrom2}">
    <p>コース：[[ ${course.name} ]]</p>
    <p>IN　<span class="error">[[ ${error} ]]</span></p>
    <table>
        <thead>
            <tr>
                <th th:each="hole:${holeNo1}" th:text="${hole}"></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Par</td>
            <td><span class="round" id="par_hole1">[[ ${course.parHole1} ]]</span></td>
            <td><span class="round" id="par_hole2">[[ ${course.parHole2} ]]</span></td>
            <td><span class="round" id="par_hole3">[[ ${course.parHole3} ]]</span></td>
            <td><span class="round" id="par_hole4">[[ ${course.parHole4} ]]</span></td>
            <td><span class="round" id="par_hole5">[[ ${course.parHole5} ]]</span></td>
            <td><span class="round" id="par_hole6">[[ ${course.parHole6} ]]</span></td>
            <td><span class="round" id="par_hole7">[[ ${course.parHole7} ]]</span></td>
            <td><span class="round" id="par_hole8">[[ ${course.parHole8} ]]</span></td>
            <td><span class="round" id="par_hole9">[[ ${course.parHole9} ]]</span></td>
            <td><span class="round" id="par_all1">36</span></td>
            <td><span class="round"></span></td>
        </tr>
        <tr>
            <td>スコア</td>
            <td><input tabindex=2 class="round" type="text" id="score1" th:field="*{scoreHole1}"></td>
            <td><input tabindex=3 class="round" type="text" id="score2" th:field="*{scoreHole2}"></td>
            <td><input tabindex=4 class="round" type="text" id="score3" th:field="*{scoreHole3}"></td>
            <td><input tabindex=5 class="round" type="text" id="score4" th:field="*{scoreHole4}"></td>
            <td><input tabindex=6 class="round" type="text" id="score5" th:field="*{scoreHole5}"></td>
            <td><input tabindex=7 class="round" type="text" id="score6" th:field="*{scoreHole6}"></td>
            <td><input tabindex=8 class="round" type="text" id="score7" th:field="*{scoreHole7}"></td>
            <td><input tabindex=9 class="round" type="text" id="score8" th:field="*{scoreHole8}"></td>
            <td><input tabindex=10 class="round" type="text" id="score9" th:field="*{scoreHole9}"></td>
            <td><span id="score1-9" th:field="*{score1_9}"></span></td>
            <td></td>
        </tr>
        <tr>
            <td>パット</td>
            <td><input tabindex=2 class="round" type="text" id="pat1" th:field="*{patHole1}"></td>
            <td><input tabindex=3 class="round" type="text" id="pat2" th:field="*{patHole2}"></td>
            <td><input tabindex=4 class="round" type="text" id="pat3" th:field="*{patHole3}"></td>
            <td><input tabindex=5 class="round" type="text" id="pat4" th:field="*{patHole4}"></td>
            <td><input tabindex=6 class="round" type="text" id="pat5" th:field="*{patHole5}"></td>
            <td><input tabindex=7 class="round" type="text" id="pat6" th:field="*{patHole6}"></td>
            <td><input tabindex=8 class="round" type="text" id="pat7" th:field="*{patHole7}"></td>
            <td><input tabindex=9 class="round" type="text" id="pat8" th:field="*{patHole8}"></td>
            <td><input tabindex=10 class="round" type="text" id="pat9" th:field="*{patHole9}"></td>
            <td><span id="pat1-9" th:field="*{pat1_9}"></span></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <br>
    <p>OUT</p>
    <table>
        <thead>
        <tr>
            <th th:each="hole:${holeNo2}" th:text="${hole}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Par</td>
            <td><span class="round" id="par_hole10">[[ ${course.parHole10} ]]</span></td>
            <td><span class="round" id="par_hole11">[[ ${course.parHole11} ]]</span></td>
            <td><span class="round" id="par_hole12">[[ ${course.parHole12} ]]</span></td>
            <td><span class="round" id="par_hole13">[[ ${course.parHole13} ]]</span></td>
            <td><span class="round" id="par_hole14">[[ ${course.parHole14} ]]</span></td>
            <td><span class="round" id="par_hole15">[[ ${course.parHole15} ]]</span></td>
            <td><span class="round" id="par_hole16">[[ ${course.parHole16} ]]</span></td>
            <td><span class="round" id="par_hole17">[[ ${course.parHole17} ]]</span></td>
            <td><span class="round" id="par_hole18">[[ ${course.parHole18} ]]</span></td>
            <td><span class="round" id="par_all2"></span>36</td>
            <td><span class="round" id="par_all"></span>72</td>
        </tr>
        <tr>
            <td>スコア</td>
            <td><input tabindex=12 class="round" type="text" id="score10" th:field="*{scoreHole10}"></td>
            <td><input tabindex=13 class="round" type="text" id="score11" th:field="*{scoreHole11}"></td>
            <td><input tabindex=14 class="round" type="text" id="score12" th:field="*{scoreHole12}"></td>
            <td><input tabindex=15 class="round" type="text" id="score13" th:field="*{scoreHole13}"></td>
            <td><input tabindex=16 class="round" type="text" id="score14" th:field="*{scoreHole14}"></td>
            <td><input tabindex=17 class="round" type="text" id="score15" th:field="*{scoreHole15}"></td>
            <td><input tabindex=18 class="round" type="text" id="score16" th:field="*{scoreHole16}"></td>
            <td><input tabindex=19 class="round" type="text" id="score17" th:field="*{scoreHole17}"></td>
            <td><input tabindex=20 class="round" type="text" id="score18" th:field="*{scoreHole18}"></td>
            <td><span id="score10-18" th:field="*{score10_18}"></span></td>
            <td><span id="score" th:field="*{score}"></span></td>
        </tr>
        <tr>
            <td>パット</td>
            <td><input tabindex=12 class="round" type="text" id="pat10" th:field="*{patHole10}"></td>
            <td><input tabindex=13 class="round" type="text" id="pat11" th:field="*{patHole11}"></td>
            <td><input tabindex=14 class="round" type="text" id="pat12" th:field="*{patHole12}"></td>
            <td><input tabindex=15 class="round" type="text" id="pat13" th:field="*{patHole13}"></td>
            <td><input tabindex=16 class="round" type="text" id="pat14" th:field="*{patHole14}"></td>
            <td><input tabindex=17 class="round" type="text" id="pat15" th:field="*{patHole15}"></td>
            <td><input tabindex=18 class="round" type="text" id="pat16" th:field="*{patHole16}"></td>
            <td><input tabindex=19 class="round" type="text" id="pat17" th:field="*{patHole17}"></td>
            <td><input tabindex=20 class="round" type="text" id="pat18" th:field="*{patHole18}"></td>
            <td><span id="pat10-18" th:field="*{pat10_18}"></span></td>
            <td><span id="pat" th:field="*{pat}"></span></td>
        </tr>
        </tbody>
    </table>
    <button type="button" onclick="calculation()" class="basic-btn">スコア計算</button>
    <br>
    <label>メモ欄</label><br>
    <textarea th:field="*{note}" name="description" class="base-text"></textarea>
    <div class="btns">
        <button type="submit" class="basic-btn">次へ</button>
        <input type="button" onclick="back()" value="戻る" class="cancel-btn">
    </div>
</form>
<div id="fadeLayer"></div>
<script src="/js/commons.js"></script>
</body>
</html>